.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0,0%,100%,.9);
  animation: loader .01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9356dc;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__item--2 {
  background-color: #ff79da;
  animation-delay: .25s;
}
.loader__item--3 {
  background-color: #99e2d0;
  animation-delay: .5s;
}
@keyframes loader {
 100% {
  opacity: 0;
  z-index: -10;
 } 
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  text-align: center;
}

.local {
  display: flex;
  padding: 3% 25%;
  background-color: #f3f3f3;
  font-size: 17px;
  position: relative;
  align-content: center;
  justify-content: space-evenly;
  font-weight: 500;
}
.main {
  padding: 8% 1%;
  text-align: center;
  background-color: #fafafa;
  height: 255px;
}
.main__title {
  margin: 0;
}
.main__subtitle {
  font-weight: 300;
  margin: 20px 20px 40px 0px;
}
.main__btn {
  border: 0;
  padding: 4% 6%;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  cursor: pointer;
  transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}
h2.second__title {
  padding: 5% 3%;
  margin: 0;
}
.second {
  padding: 2rem 1rem;
}
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.second__list {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  justify-content: space-around;
}
ol :hover{
  background: #c8a4f5b0;
  color: white;
}
.second__lists {
  margin: 0;
  padding: 0% 2%;
  list-style: none;
  counter-reset: compteListe;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.second__list:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
.restaurant__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.restaurant__content {
  flex: 1;
}
.restaurant__title {
  margin: 0 0 0.25rem;
}
.restaurant__subtitle {
  margin: 0;
}

/* boutton like */

.menu__btn {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}
.menu__btn::before {
  opacity: 0;
  transition: all .5s;
  content: "";
  position: absolute;
  z-index: -1;
  height: 0%;
  top: 0;
  bottom: 0%;
  width: 100%;
}
.menu__btn:hover,.menu__btn:active{
  background: linear-gradient(0deg,#9356dc,#ff79da);
}
.menu__btn:before {
  opacity: 0;
  transition: .5s;
  content: "";
}
.menu__btn:hover:before {
  opacity: 1;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__like {
  background-color: #fff!important;
}
.menu__like {
  transition-duration: .25s;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:before, .menu__like {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
h2.restaurants__title {
  padding: 0% 5%;
}
.fa-heart:before {
  content: "\f004";
}
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-2x {
  font-size: 2em;
}
.fab, .far {
  font-weight: 400;
  
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.restaurant__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 1% 2%;
  border-radius: 0.125rem;
  position: absolute;
  right: 7%;
  margin-top: 20px;
}
.restaurant__img {
  height: 196px;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
  object-position: 0px -46px;
}
.restaurtant__cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
a.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 272px;
  text-decoration: none;
  color: #000;
  background: #fff;
  box-shadow: 3px 3px 7px #dfdddd;
  margin: 20px;
  border-radius: 25px;
}
.restaurant__title {
  margin: 0px;
}
.restaurant__subtitle {
  margin: 0;
}
.footer {
  background-color: #353535;
  padding: 1% 5%;
}
.footer__logo {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
li.footer__listElt {
  padding: 2%;
}

/* Restaurant Menu*/

.header--backArrow {
  position: relative;
}
.header__logo {
  font-family: Shrikhand,"cursive";
  margin: 0;
  text-align: center;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}
.restaurant1 {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__title {
  font-family: Shrikhand,"cursive";
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainmenus {
  display: flex;
  flex-direction: column;
}
.mainmenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.mainmenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.mainmenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.submenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes itemRotate {
  0% {
    transform: rotate(137deg);
  }
  100% {
    transform: rotate(0);
  }
}
.delay-0 {
  animation-delay: 0s;
}
.delay-1{
  animation-delay: .2s;
}
.delay-2{
  animation-delay: .3s;
}
.delay-3{
  animation-delay: .4s;
}
.delay-4{
  animation-delay: .5s;
}
.delay-5{
  animation-delay: .6s;
}
.delay-6{
  animation-delay: .7s;
}
.delay-7{
  animation-delay: .8s;
}
.delay-8{
  animation-delay: .9s;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.menuItem {
  background-color: #fff;
  padding: 5% 2%;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__header, .menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0%;
}
.menuItem__header {
  flex: 1;
}
.menuItem__price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.5rem;
  margin-right: 5px;
}
.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -2rem -5rem -2rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(360deg);
  transition-duration: .5s;
}
.menuItem__icon {
  color: #99e2d0;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fa-check:before {
  content: "\f00c";
}
.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.wrapbtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}
.commandBtn {
  border: 0;
  padding: 4% 13%;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  cursor: pointer;
}
.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/* Responsive Version Tablette */

@media screen  and (min-width:768px) {
  
  .local {
    display: flex;
    padding: 3% 37%;
    background-color: #f3f3f3;
    font-size: 22px;
    position: relative;
    align-content: center;
    justify-content: space-around;
    font-weight: 500;
  }
  .header__logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    text-align: center;
  }
  .main {
    padding: 7% 1%;
    text-align: center;
    background-color: #fafafa;
    height: 335px;
  }
  .main__title {
    margin: 0;
  }
  .main__subtitle {
    font-weight: 300;
    padding: 2% 1%;
    font-size: 20px;
  }
  .main__btn {
    border: 0;
    padding: 4% 6%;
    font-weight: 400;
    font-size: 20px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  }
  h2.second__title {
    padding: 5% 3%;
    margin: 0;
  }
  .second {
    padding: 2rem 1rem;
  }
  .container {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }
  .second__list {
    padding: 5% 0;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
  .second__lists {
    margin: 0;
    padding: 0% 15%;
    list-style: none;
    counter-reset: compteListe;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .second__list:before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;
  }
  .restaurant__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 1% 2%;
    border-radius: 0.125rem;
    position: absolute;
    right: 13%;
    margin-top: 20px;
  }
  .restaurant__img {
    height: 196px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    object-position: 0px -46px;
  }
  .restaurtant__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  a.restaurant__card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 313px;
    text-decoration: none;
    color: #000;
    background: #fff;
    box-shadow: 3px 3px 7px #dfdddd;
    margin: 20px 80px;
    border-radius: 25px;
    flex-wrap: wrap;
  }
  .restaurant__content {
    flex: 1;
    font-size: 20px;
  }
  .restaurant__title {
    margin: 0px;
  }
  .restaurant__subtitle {
    margin: 0;
  }
  .footer {
    background-color: #353535;
  }
  .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer__listElt:first-child {
    margin-top: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
}

/* Responsive Version desktop */

@media screen and (min-width:992px) {
  .header__logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    text-align: center;
    padding: 1%;
  }
  
  .local {
    display: flex;
    padding: 1% 44%;
    background-color: #f3f3f3;
    font-size: 18px;
    position: relative;
    align-content: center;
    justify-content: space-evenly;
    font-weight: 600;
  }
  .main {
    padding: 2% 1%;
    text-align: center;
    background-color: #fafafa;
    height: 265px;
  }
  .main__title {
    margin: 0;
  }
  .main__subtitle {
    font-weight: 300;
    margin: 20px 20px 40px 0px;
    padding: 0%;
  }
  .main__btn {
    border: 0;
    padding: 1% 2%;
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  }
  h2.second__title {
    padding: 2% 5%;
    margin: 0;
  }
  .second {
    padding: 0;
  }
  .container {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }
  .second__list {
    padding: 1% 5%;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
  }
  ol :hover{
    background: #c8a4f5b0;
    color: white;
  }
  .second__lists {
    margin: 0;
    padding: 0% 2%;
    list-style: none;
    counter-reset: compteListe;
    display: flex;
    
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .second__list:before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;
  }
  .restaurant__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .restaurant__content {
    flex: 1;
  }
  .restaurant__title {
    margin: 0 0 0.25rem;
    font-size: 19px;
  }
  .restaurant__subtitle {
    margin: 0;
    font-size: 17px;
  }
  .menu__btn {
    height: 2rem;
    width: 2rem;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }
  .menu__btn:hover,.menu__btn:active{
    background: linear-gradient(0deg,#9356dc,#ff79da);
  }
  .card__like {
    background-color: #fff!important;
  }
  .menu__like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
  }
  .menu__btn:before {
    opacity: 0;
    transition: .5s;
    content: "";
  }
  .menu__btn:hover:before {
    opacity: 1;
  }
  .menu__btn:hover .menu__like--noBg {
    opacity: 0;
  }
  .menu__btn:before, .menu__like {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  h2.restaurants__title {
    padding: 0% 5%;
  }
  .fa-heart:before {
    content: "\f004";
    font-size: 32px;
  }
  .container {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }
  .restaurant__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 1% 1%;
    border-radius: 0.125rem;
    position: absolute;
    right: 3%;
    margin-top: 20px;
  }
  .restaurant__img {
    height: 196px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    object-position: 0px -46px;
  }
  .restaurtant__cards {
    display: flex;
    margin-bottom: 25px;
    padding: 1% 5%;
    justify-content: space-around;
  }
  a.restaurant__card {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 265px;
    text-decoration: none;
    color: #000;
    background: #fff;
    box-shadow: 3px 3px 7px #dfdddd;
    margin: 20px;
    border-radius: 25px;
    position: relative;
  }
  .restaurant__title {
    margin: 0px;
  }
  .restaurant__subtitle {
    margin: 0;
  }
  .footer {
    background-color: #353535;
    padding: 1% 5%;
  }
  .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer__listElt:first-child {
    margin-top: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
  li.footer__listElt {
    padding: 2%;
  }
}
/* Responsive Menu Tablette */

@media screen and (min-width:768px){
  .header--backArrow {
    position: relative;
  }
  .header__logo {
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
  }
  .header__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
  }
  .restaurant1 {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
  }
  .menu__title {
    font-family: Shrikhand,"cursive";
    font-size: 32px;
  }
  .menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainmenus {
    display: flex;
    flex-direction: column;
  }
  .mainmenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .mainmenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 28px;
  }
  .mainmenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .submenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .delay-0{
    animation-delay: 0s;
  }
  .delay-1{
    animation-delay: .2s;
  }
  .delay-2{
    animation-delay: .3s;
  }
  .delay-3{
    animation-delay: .4s;
  }
  .delay-4{
    animation-delay: .5s;
  }
  .delay-5{
    animation-delay: .6s;
  }
  .delay-6{
    animation-delay: .7s;
  }
  .delay-7{
    animation-delay: .8s;
  }
  .delay-8{
    animation-delay: .9s;
  }
  .submen3__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }
  .menuItem {
    background-color: #fff;
    padding: 5% 2%;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  .menuItem__header, .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 25px;
  }
  .menuItem__header {
    flex: 1;
  }
  .menuItem__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    font-size: 25px;
  }
  .menuItem__confirmation {
    background-color: #99e2d0;
    margin: -3rem -6rem -3rem 1rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
  }
  .menuItem:hover .menuItem__confirmation {
    margin-right: -1rem;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
  .menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: .5s;
  }
  .menuItem__icon {
    color: #99e2d0;
  }
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .wrapbtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
  }
  .commandBtn {
    border: 0;
    padding: 1.75rem 6.5rem;
    font-weight: 500;
    font-size: 1.7rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
  }
  .footer {
    background-color: #353535;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer__listElt:first-child {
    margin-top: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
  .footer__icon {
    width: 1.2rem;
    margin-right: 1.5rem;
  }
  .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 2.2rem;
    margin: 0 0 1rem;
  }
  li.footer__listElt {
    padding: 2%;
    font-size: 25px;
  }
}

/* Responsive Menu version Desktop */

@media screen and (min-width:992px) {
  .header--backArrow {
    position: relative;
  }
  .header__logo {
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
  }
  .header__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
  }
  .fa-heart:before {
    content: "\f004";
    font-size: 28px;
  }
  .restaurant1 {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    width: 1615px;
    max-width: inherit;
  }
  .menu__title {
    font-family: Shrikhand,"cursive";
    font-size: 22px;
  }
  .menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainmenus {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainmenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    max-width: inherit;
    overflow: hidden;
    padding: 0 1rem;
    width: 500px;
  }
  .mainmenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 20px;
  }
  .mainmenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .submenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .starter1 {
    animation-delay: 0s;
  }
  .starter2{
    animation-delay: .2s;
  }
  .starter3{
    animation-delay: .3s;
  }
  .starter4{
    animation-delay: .4s;
  }
  .starter5{
    animation-delay: .5s;
  }
  .starter6{
    animation-delay: .6s;
  }
  .starter7{
    animation-delay: .7s;
  }
  .starter8{
    animation-delay: .8s;
  }
  .starter9{
    animation-delay: .9s;
  }
  .submenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }
  .menuItem {
    background-color: #fff;
    padding: 5% 3%;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  .menuItem__header, .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px;
  }
  .menuItem__header {
    flex: 1;
  }
  .menuItem__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    font-size: 18px;
  }
  .menuItem__confirmation {
    background-color: #99e2d0;
    margin: -2rem -5rem -2rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
  }
  .menuItem:hover .menuItem__confirmation {
    margin-right: -1rem;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
  .menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: .5s;
  }
  .menuItem__icon {
    color: #99e2d0;
  }
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .wrapbtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
  }
  .commandBtn {
    border: 0;
    padding: 1% 3%;
    font-weight: 500;
    font-size: 1.7rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
  }
  .footer {
    background-color: #353535;
    padding: inherit;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer__list {
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  .footer__listElt:first-child {
    margin-top: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
  .footer__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
  .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size:23px;
    margin: 0 0 1rem;
    display: flex;
    justify-content: center;
  }
  li.footer__listElt {
    padding: 2%;
    font-size: 16px;
  }
}

/* Version Pc portable */

@media screen  and (min-width:1024px) {
  
  .local {
    display: flex;
    padding: 3% 37%;
    background-color: #f3f3f3;
    font-size: 22px;
    position: relative;
    align-content: center;
    justify-content: space-around;
    font-weight: 500;
  }
  .header__logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    text-align: center;
  }
  .main {
    padding: 7% 1%;
    text-align: center;
    background-color: #fafafa;
    height: 335px;
  }
  .main__title {
    margin: 0;
  }
  .main__subtitle {
    font-weight: 300;
    padding: 2% 1%;
    font-size: 20px;
  }
  .main__btn {
    border: 0;
    padding: 4% 6%;
    font-weight: 400;
    font-size: 20px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  }
  h2.second__title {
    padding: 5% 3%;
    margin: 0;
  }
  .second {
    padding: 2rem 1rem;
  }
  .container {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }
  .second__list {
    padding: 2% 0;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
  .second__lists {
    margin: 0;
    padding: 0%;
    list-style: none;
    counter-reset: compteListe;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .second__list:before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;
  }
  .restaurant__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 1% 2%;
    border-radius: 0.125rem;
    position: absolute;
    right: 13%;
    margin-top: 20px;
  }
  .restaurant__img {
    height: 196px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    object-position: 0px -46px;
  }
  .restaurtant__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  a.restaurant__card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 313px;
    text-decoration: none;
    color: #000;
    background: #fff;
    box-shadow: 3px 3px 7px #dfdddd;
    margin: 20px 80px;
    border-radius: 25px;
    flex-wrap: wrap;
  }
  .restaurant__content {
    flex: 1;
    font-size: 20px;
  }
  .restaurant__title {
    margin: 0px;
  }
  .restaurant__subtitle {
    margin: 0;
  }
  .footer {
    background-color: #353535;
  }
  .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer__listElt:first-child {
    margin-top: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (min-width:1024px) {
  .header--backArrow {
    position: relative;
  }
  .header__logo {
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
  }
  .header__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
  }
  .fa-heart:before {
    content: "\f004";
    font-size: 28px;
  }
  .restaurant1 {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: inherit;
  }
  .menu__title {
    font-family: Shrikhand,"cursive";
    font-size: 22px;
  }
  .menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainmenus {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainmenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    max-width: inherit;
    overflow: hidden;
    padding: 0 1rem;
    width: 500px;
  }
  .mainmenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 20px;
  }
  .mainmenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .submenu__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .starter1 {
    animation-delay: 0s;
  }
  .starter2{
    animation-delay: .2s;
  }
  .starter3{
    animation-delay: .3s;
  }
  .starter4{
    animation-delay: .4s;
  }
  .starter5{
    animation-delay: .5s;
  }
  .starter6{
    animation-delay: .6s;
  }
  .starter7{
    animation-delay: .7s;
  }
  .starter8{
    animation-delay: .8s;
  }
  .starter9{
    animation-delay: .9s;
  }
  .submenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }
  .menuItem {
    background-color: #fff;
    padding: 5% 3%;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  .menuItem__header, .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px;
  }
  .menuItem__header {
    flex: 1;
  }
  .menuItem__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    font-size: 18px;
  }
  .menuItem__confirmation {
    background-color: #99e2d0;
    margin: -2rem -5rem -2rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
  }
  .menuItem:hover .menuItem__confirmation {
    margin-right: -1rem;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
  .menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: .5s;
  }
  .menuItem__icon {
    color: #99e2d0;
  }
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  .wrapbtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
  }
  .commandBtn {
    border: 0;
    padding: 1% 3%;
    font-weight: 500;
    font-size: 1.7rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
  }
  .footer {
    background-color: #353535;
    padding: inherit;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer__list {
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  .footer__listElt:first-child {
    margin-top: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
  .footer__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
  .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size:23px;
    margin: 0 0 1rem;
    display: flex;
    justify-content: center;
  }
  li.footer__listElt {
    padding: 2%;
    font-size: 16px;
  }
}